* {
    background-color: #FFF8F3;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header {
    background-image: url(images/developer.png), url(images/header_bg.png); 
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain, 50%;
}
.logo {
    width: 7vw;
    display: inline;
    background: transparent;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul li {
    list-style: none;
    font-size: 1.2vw;
    background: transparent;
}
nav ul {
    display: flex;
    gap: 6vw;
    /* justify-content: space-evenly;*/
    align-items: center; 
}
nav {
    display: flex;
    align-items: center;
    margin: 1vh 10vw;
    justify-content: space-between;
    background: transparent;
}
/* .Og-btn {
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;       {MY CODE}
    border: none;
    padding: 18px 35px 19px 36px;
    font-weight: bold;
    font-size: 20px;
} */

.Og-btn {
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 0.5vw; /* Scales nicely with width */
    border: none;
    padding: 2vh 3.2vw 2vh 3.2vw; /* Top & Bottom use vh for vertical spacing, sides use vw */
    font-weight: bold;
    font-size: clamp(16px, 1.2vw, 24px); /* Responsive font size based on viewport width */
}
.contact-btn {
    margin-left: 27px;
    background-color: transparent;
    color: #FD6E0A;
    border: 0.05vw solid #FD6E0A;
}

/* BANNER CONTENT */

.banner-text{
    color: #474747;
    font-size: 2.4em;
    font-weight: 600;
    background: transparent;
    /* margin:  50px 40px 30px 90px; */
}
.banner-title{
    color: #181818;
    font-weight: bold;
    font-size: 6vw;
    background: transparent;
    /* margin: 0; */
}
.para1 {
    margin-top: 2vh;
    font-size: 1.2vw;
    background: transparent;
}
.text-area {
    max-width: 42vw;
    background: transparent;
}
.img-area {
    width: 42vw;
    height: 45vw;
    background: transparent;
    /* max-width: 100%; */
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    margin: 0vh 0vw 2.04vh 10vw;
    height: 100%;
    background: transparent;
}
/* Main Styles */

* {
    max-width: 1140px;
    margin: 0 auto;
}

/* About ME SECTION */
.about-head {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}
.box p {
    font-size: 1.1vw;
    line-height: 1.8;
    color: #757575;
}
.th1 {
    color: #757575;
    font-size: 1.15vw;
}
.tr1 {
    color: #474747;
    font-size: 1.15vw;
    font-weight: bold;
}
/* .box {
    display: inline-block;
    width: 43.08vw;
    border: 0.1vw solid #000000;
    background-color: #FFF8F3;
    border-radius: 1vw;
}
.box-over {
    border: 8.18vw solid rgb(197, 197, 197)
} */